streamlit
langchain==0.3.3
langchain-community==0.3.2
langchain-core
langchain-huggingface
langchain-text-splitters
faiss-cpu
pypdf
torch
sentence-transformers
numpy
pandas
Pillow







